
dialog::backdrop {
    background-color: rgb(0 0 0 / .5);
}

dialog {
    width: 80%;
    box-shadow: rgb(0 0 0 / .3);
    border: none;
    border-radius: .5rem;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

#close {
    background-color: limegreen;
    color: black;
    transition: all .4s linear;
    width: 10%;
    height: 30px;
    border-radius: 50px;
    border: none;
}

#close:hover {
    background-color: lightgreen;
    color: #fff;
}

#open {
    background-color: limegreen;
    color: black;
    transition: all .4s linear;
    width: 10%;
    height: 30px;
    border-radius: 50px;
    border: none;
}

#open:hover {
    background-color: lightgreen;
    color: #fff;
}