* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
}

#logo {
    font-weight: bold;
    font-size: 1.7rem;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkslategrey;
    padding: 1rem;
    width: 100%;
    height: 60px;
    position: fixed;
}

ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    padding: 1rem;
    transition: all .4s linear;
}

a:hover {
    color: lightgreen;
    margin-bottom: 1px solid limegreen;
}

section {
    min-height: 100vh;

}

#banner img {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#artes {
    background-color: #333;
}

#modalidades {
    background-color: limegreen;
}

#planos {
    background-color: #333;
}

#contato {
    background-color: limegreen;
}


footer {
    background-color: darkslategrey;
    padding: 3rem;
}

footer p {
    text-align: center;
    color: #fff;
}