* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .4s linear;
}

.title {
  text-align: left;
  margin-top: 2rem;
  margin-left: 2rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form {
  background-color: #333;
  width: min-content;
 
  padding: 60px;
  border-radius: 22px;
  width: min-content;
  box-shadow: 0 2px 2px gainsboro;
  animation: iniciar 1.4s ease-in-out;
  pointer-events: all;
}

h1 {
  text-align: center;
  color: limegreen;
}

label {
  color: #fff;
  font-size: 20px;
}

.input {
  border: 1px solid limegreen;
  border-radius: 22px;
  padding: 10px;
  min-width: 280px;
  margin-bottom: 1rem;
}

.input input {
  border: none;
  outline: none;
  font-size: 1.1em;
  border-radius: 22px;
  padding: 2px;
  background-color: transparent;
  color: limegreen;
  cursor: pointer;
}

.input i {
  position: absolute;
  cursor: pointer;
  font-size: 1rem;
  color: #fff;
  padding-left: 15rem;
  transform: translateY(5px);
  display: flex;
  align-items: center;
}

.btn-submit button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  cursor: pointer;
  padding: 10px;
  width: 160px;
  font-weight: bold;
  border-radius: 25px;
  border: none;
  color: limegreen;
}

button:hover {
  background-color: limegreen;
  color: #fff;
}

/*Animation by form*/

@keyframes iniciar {
  0% {
    opacity: 0;
    pointer-events: none;
  }
  100% {
    opacity: 100%;
    pointer-events: all;
  }
}

@media (max-width: 375px) {
  
  .form {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: darkslategrey;
  }
  h1 {
    color: #fff;
    cursor: pointer;
  }
  .title {
    color: darkslategrey;
  }
  
}
